<app-header 
[carrito]="carrito"
[guitarra]="guitarra"
(incrementarCantidad)="incrementarCantidad($event)"
(decrementarCantidad)="decrementarCantidad($event)"
(agregarCarrito)="guardarCarrito($event)"
(eliminarProducto)="eliminarProducto($event)"
(vaciarCarrito)="vaciarCarrito()"></app-header>

<main class="container-xl mt-5">
    <h2 class="text-center">Nuestra Colección - Actializada</h2>

    <div class="row mt-5">
      <app-guitarra
      *ngFor="let guitarra of guitarras"
      [guitarra]="guitarra"
      (agregarCarrito)="guardarCarrito($event)"
      (decrementarCantidad)="decrementarCantidad($event)"
      (incrementarCantidad)="incrementarCantidad($event)"
      (eliminarProducto)="eliminarProducto($event)"
      (vaciarCarrito)="vaciarCarrito()"></app-guitarra>
    </div>
</main>

<app-footer></app-footer>
